.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 10px;
    border-radius: 1rem;
    background-color: #004AAE;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .nav-icon {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }
  
  .nav-label {
    font-size: 0.7rem;
  }
  
  .nav-icon.active,
  .nav-item.active {
    color: #010133;
  }
  

@media (max-width: 400px) {
    .bottom-nav {
        width: 100%;
    }
}
  @media (min-width: 400px) {
    .bottom-nav {
      width: 400px;
    }
}
  
.nav-icon {
    color: white;
    font-size: 24px;
    transition: transform 0.5s, color 0.2s;
    cursor: pointer;
}
  
.nav-icon.active {
    color: #FFC31B;
    transform: scale(1.2);
}

.nav-label.active {
    color: #FFC31B;
    font-weight: 700;
  }
  
.place-icon {
    font-size: 25px; 
}