.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #002676;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 1px;
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 400px) {
    .bottom-nav {
      width: 100%;
    }
  }
  @media (min-width: 400px) {
    .bottom-nav {
      width: 400px;
    }
  }
  
.nav-icon {
    color: white;
    font-size: 24px;
}
